@using PagedList;
@model PagedList.Core.IPagedList<FinalProject_OrderCoffe.Models.Order>

@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index" + currentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index (Pages : @currentPage )</h1>

<div class="row mb-3">
    <div class="col-md-2 text-right">
        <select class="form-control" id="catId" name="catId" asp-items="ViewBag.DanhMuc">
            <option selected>Chọn danh mục</option>
            <option value="0">Chọn tất cả</option>
        </select>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input class="form-control form-control-warning" type="text" id="search-product" name="search-product" placeholder="Tìm kiếm sản phẩm">
        </div>
    </div>
    <div class="col-md-2 text-right">

        <a asp-action="Create" class="btn btn-inverse-primary btn-fw">
            <i class="typcn typcn-user-add-outline"></i>
            Create
        </a>
    </div>

</div>

<div class="table-responsive">

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Order
                </th>
                <th>
                    Date
                </th>
                <th>
                    Ship Date
                </th>
                <th>
                    Total
                </th>
                <th>
                    Status
                </th>
                <th>
                    #
                </th>
            </tr>
        </thead>
        <tbody id="records_table">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        @if(item.Customer.Fullname == null)
                        {
                            <td>
                                Không tên
                            </td>
                        } else
                        {
                            <td>
                                @item.Customer.Fullname
                            </td>
                        }
                        <td>
                            @item.OrderDate
                        </td>
                        <td>
                            @item.ShipDate
                        </td>
                        <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                        <td>@item.TranSacStatus.Status</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a type="button" class="btn btn-success btn-sm btn-icon-text mr-3"
                                   asp-action="ChangeStatus" asp-route-id="@item.OrderId">
                                    Edit
                                    <i class="typcn typcn-edit btn-icon-append"></i>
                                </a>

                                <a type="button" class="btn btn-primary btn-sm btn-icon-text mr-3"
                                   asp-action="Details" asp-route-id="@item.OrderId">
                                    Details
                                    <i class="typcn typcn-calendar-outline btn-icon-append"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>


    </table>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, CatId = ViewBag.CurrentCatID })">Previous</a>
                    </li>
                }
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i, CatId = ViewBag.CurrentCatID })">@i</a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, CatId = ViewBag.CurrentCatID })">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

